﻿@using WebProject.Resources;
<style>
	.bosluk{
		margin-top:4px;
	}
	.btnP{
		margin-top:8px;
		margin-left:99px;
	}
</style>
@using (Html.BeginForm("ChangePw", "Account"))
{
	<input type="password" class="form-control" name="oldpw" placeholder=@Lang.OldPassword required/>
	<input type="password" class="form-control bosluk" name="pw1" placeholder=@Lang.NewPassword required/>
	<input type="password" class="form-control bosluk" name="pw2" placeholder=@Lang.ConfirmNewPassword required/>
	<input type="submit" name="submit" class="btn btn-toolbar bosluk btnP" value="@Lang.Change"/>
}
