﻿@using WebProject.Resources;
<style>
	.bosluk {
		margin-top: 4px;
	}

	.btnP {
		margin-top: 8px;
		margin-left: 99px;
	}
</style>
@using (Html.BeginForm("ChangeMail", "Account"))
{
	<input type="email" class="form-control" name="mail" placeholder=@Lang.NewMail required/>
	<input type="password" class="form-control bosluk" name="pw" placeholder=@Lang.Password required/>
	<input type="submit" class="btn btn-warning btnP" value=@Lang.Change />
 }