﻿@using WebProject.Resources;
<span class="text-warning" style="font-size:31px;">@Lang.AreUSure</span><br /><br />
<div class="row">
    <div class="btn-group" style="margin-left:47px;">
        <button class="btn btn-success" onclick="location.href='@Url.Action("DeleteAccount","Account")'" title="@Lang.Thereisnoway">@Lang.Yes</button>
    </div>
    <div class="btn-group">
        <button class="btn btn-danger" onclick="cdelete();">@Lang.No</button>
    </div>
</div>
