﻿@using WebProject.Resources;
@model WebProject.Kullanicilar
@{
	ViewBag.Title = "Hesap Kurtarma";
	Layout = "~/Views/Shared/_Layout.cshtml";

	if (Session["Giris"] != null)
	{
		Response.Redirect("/Home/Index");
	}
}

<center>
	<h5 style="color:red;font-weight:bold;font-size:large;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@Lang.Email</h5>
	@using (Html.BeginForm("HesapKurtarma", "Account"))
	{
		<input type="text" class="form-control" name="mailAdres" placeholder="example@mail.com" required/>
		<br /><br />
		<input type="submit" class="btn btn-info" name="submit" value=@Lang.SendMail />
	}
	@Html.Raw(TempData["mailMsg"])
</center>

