﻿@using WebProject.Resources;
@using WebProject.Controllers;
@model IEnumerable<WebProject.Kullanicilar>
@{
	ViewBag.Title = Lang.SignIn;
	Layout = "~/Views/Shared/_Layout.cshtml";
	if (Session["Giris"] != null)
	{
		Response.Redirect("/Home/Index");
	}
}
<style>
	.tabcontent {
	display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
	.forms{
		align-items:baseline;
		align-self:center;
	}
</style>
<h2 style="color:cornflowerblue; "id="h2" >@Lang.SignIn</h2>

@Html.Raw(TempData["login"])
	<ul class="nav nav-tabs" style="margin-bottom:7px;">
		<li class="active" id="lg"><a href="#" onclick="kontrol(true);" >@Lang.LogIn</a></li>
		<li class="" id="rg"><a href="#" onclick="kontrol(false);" >@Lang.Register</a></li>
	</ul>
<div id="login" class="">
		@using (Html.BeginForm("Login", "Account",new { @class="forms"}))
		{
			
			<input type="text" class="form-control" id="kadi" name="username" placeholder="@Lang.Username " required/><br />
			<input type="password" class="form-control" name="password" placeholder="@Lang.Password" required/>
			<input type="checkbox" style="text-align:right;" name="checkbox"/>@:@Lang.RememberMe<br /><br />
			<input type="submit" name="submit" class="btn btn-primary" value="@Lang.LogIn"/><br>
			<a href="/Account/HesapKurtarma" style="text-decoration:underline;color:blue">@Lang.Forgotpswd</a>
		}
</div>
<div id="register" class="">
		@using (Html.BeginForm("Login", "Account"))
		{
			<input type="text" class="form-control" placeholder="@Lang.Username" name="username" required /><br />
			<input type="email" class="form-control" placeholder="@Lang.Email" name="email" required/><br />
			<input type="password" class="form-control" placeholder="@Lang.Password" name="password" required/><br />
			<input type="password" class="form-control" placeholder="@Lang.ConfirmNewPassword" name="pwagain" required/><br />
			<input type="submit" name="submit" class="btn btn-success" value="@Lang.Register" />
		}
</div>
<script type="text/javascript">
	document.getElementById("kadi").focus();
	function kontrol(deger) {
		if (!deger) {
			document.getElementById('login').classList.add("tabcontent");
			document.getElementById('register').classList.remove("tabcontent");

			document.getElementById('lg').className = "";
			document.getElementById('rg').className = "active";
			
			document.getElementById('h2').innerHTML = "@Lang.Register";
			document.getElementById('h2').style = "color:mediumseagreen;";

			document.title = "VideoVision - @Lang.Register";
		}
		else {
			document.getElementById("login").classList.remove("tabcontent");
			document.getElementById('register').classList.add("tabcontent");

			document.getElementById('rg').className = "";
			document.getElementById('lg').className = "active";

			document.getElementById('h2').innerHTML = "@Lang.SignIn";
			document.getElementById('h2').style = "color:cornflowerblue;";

			document.title = "VideoVision - @Lang.SignIn";
		}
	}
	document.getElementById('register').classList.add("tabcontent");
</script>
