﻿@using WebProject.Resources;
@model IEnumerable<Kullanicilar>
@{
    ViewBag.Title = Lang.AccountSetting;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = "";
    int id = -1;
    bool isAdmin = false;

    if (Session["Giris"] == null)
    {
        Response.Redirect("/Account/Login");
    }
    else
    {
        user = Session["Giris"].ToString();
    }
    dbModel db = new dbModel();
    var users = new List<Kullanicilar>();
    users = db.Kullanicilar.ToList();

    var videos = new List<Videolar>();
    videos = db.Videolar.ToList();

    var comments = new List<Yorumlar>();
    comments = db.Yorumlar.ToList();

    foreach (Kullanicilar item in users)
    {
        if (item.KullaniciAdi == user)
        {
            id = item.ID;
            isAdmin = item.isAdmin;
            break;
        }
    }
}
<style>
    .tabcontent {
        display: none;
    }

    .activated {
        display: normal;
    }
</style>
@if (!isAdmin)//NORMAL
{
    <h2>@Lang.Settings</h2>
    <div class="row">
        <div class="col-lg-4">
            <ul style="margin-left:13px;list-style-type:none;font-size:17px;text-decoration:underline;">
                <li><a href="#s" onclick="pw();">@Lang.Changepswd</a></li>
                <li><a href="#m" onclick="mail();">@Lang.Changemail</a></li>
                <li><a href="#d" onclick="deleteH();" style="color:black;">@Lang.WipeoutAccount</a></li>
            </ul>
        </div>
        <div class="col-lg-8" style="margin-top:-9px;">
            <div id="changepw" class="tabcontent">
                @Html.Raw(TempData["cpw"])
                @Html.Partial("ChangePw")
            </div>
            <div id="changemail" class="tabcontent">
                @Html.Raw(TempData["cmail"])
                @Html.Partial("ChangeMail")
            </div>
            <div id="delete" class="tabcontent">
                @Html.Partial("DeleteAccount")
            </div>
        </div>
    </div>
    <hr />
    <h2>@Lang.Videos</h2>
    bool empty = true;
    <div class="row">
        @foreach (Videolar item in videos)
        {
            if (item.VideoYukleyen == id)
            {
                //Buraya yazılcak
                <div class="col-lg-3">
                    <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })">
                        @if (item.VideoThumbnail == null)
                        {
                            <img src="/requiredFiles/capturedFrames/default.png" width="250" height="160" />
                        }
                        else
                        {
                            <img src="@item.VideoThumbnail" width="250" height="160" />
                        }
                    </a>
                    <br />
                    <span style="margin-bottom:5px;" title="@item.Baslik">@item.Baslik</span><br />
                    <span style="font-size:12px;">@item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") @Lang.Views</span><br />
                    <button class="btn btn-default" style="margin-left:93px" title="@Lang.RemoveVideo" onclick="location.href='@Url.Action("Sil","Videos",new { videoID=item.ID})'">@Lang.Remove</button>
                </div>
                empty = false;
            }
        }
    </div>
    if (empty)
    {
        <span class="text-danger">@Lang.Notfoundvideo</span>
    }
}
else//ADMIN
{
    <script type="text/javascript">
        document.getElementById("arama").placeholder = "Admin Arama";
    </script>
    <h2>@Lang.Settings</h2>
    ViewBag.Title = "Admin Sayfası";
    <div class="row">
        <div class="col-lg-4">
            <ul style="margin-left:13px;list-style-type:none;font-size:17px;text-decoration:underline;">
                <li><a href="#s" onclick="pw();">@Lang.Changepswd</a></li>
            </ul>
        </div>
        <div class="col-lg-8" style="margin-top:-9px;">
            <div id="changepw" class="tabcontent">
                @Html.Raw(TempData["cpw"])
                @Html.Partial("ChangePw")
            </div>
        </div>
    </div>
    <hr />
    <div style="margin-left:49px">
        <ul class="nav nav-tabs">
            <li class="active" id="btnK"><a href="#" onclick="usr();">@Lang.Users</a></li>
            <li id="btnV"><a href="#" onclick="video();">@Lang.Videos</a></li>
            <li id="btnY"><a href="#" onclick="comm();">@Lang.Comments</a></li>
        </ul>
    </div>
    <div id="users" class="activated">
        <table class="table" style="border:solid;border-color:white;background-color:white;">
            <th style="text-decoration:underline;text-align:center;">
                ID
            </th>
            <th style="text-decoration:underline;text-align:center;">
                Kullanıcı Adı
            </th>
            <th style="text-decoration:underline;text-align:center">
                E-mail Adresi
            </th>
            <th style="text-decoration:underline;text-align:center">
                Şifre
            </th>
            <th style="text-decoration:underline;text-align:center">
                Eylemler
            </th>
            @foreach (Kullanicilar item in users)
            {
                <tr style="text-align:center">
                    @if (!item.isAdmin && item.ID != -1)
                    {
                        <td>@item.ID</td>
                        <td>@item.KullaniciAdi</td>
                        <td>@item.Email</td>
                        <td>@item.Parola</td>
                        <td><button class="btn btn-default" onclick="location.href='@Url.Action("Sil", "Account", new { id = item.ID })'">@Lang.Delete</button></td>
                    }
                    else if (item.ID != -1)
                    {
                        <td style="color:black">@item.ID</td>
                        <td style="color:limegreen">@item.KullaniciAdi</td>
                        <td style="color:limegreen">@item.Email</td>
                        <td style="color:limegreen">@item.Parola</td>
                        <td><button class="btn btn-default" disabled>@Lang.Delete</button></td>
                    }
                </tr>
            }
        </table>
    </div>
    <div id="videos" class="tabcontent">
        <table class="table" style="border:solid;border-color:white;background-color:white;">
            <th style="text-decoration:underline;text-align:center;">@Lang.Title</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.Duration</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.Views</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.UploadDate</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.Username</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.Events</th>
            @foreach (Videolar item in videos)
            {
                <tr style="text-align:center">
                    <td>
                        <a style="color:black" href="@Url.Action("Playing","Videos",new { videoId=item.ID })">
                            @item.Baslik
                        </a>
                    </td>
                    <td>@item.VideoSuresi.ToString().Substring(0, 8)</td>
                    <td>@item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".")</td>
                    <td>@item.VideoTarihi</td>
                    <td>@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</td>
                    <td><button class="btn btn-default" onclick="location.href='@Url.Action("Sil","Videos",new { videoId=item.ID})'">@Lang.Delete</button></td>
                </tr>
            }
        </table>
    </div>
    <div id="comments" class="tabcontent">
        <table class="table" style="border:solid;border-color:white;background-color:white;">
            <th style="text-decoration:underline;text-align:center;">@Lang.Comment</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.CommentVideo/th>
            <th style="text-decoration:underline;text-align:center;">@Lang.DateComment</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.byWritten</th>
            <th style="text-decoration:underline;text-align:center;">@Lang.Events</th>
            @foreach (Yorumlar item in comments)
            {
                <tr style="text-align:center">
                    <td>@item.Yorum</td>
                    <td>
                        <a style="color:black" href="@Url.Action("Playing","Videos",new { videoId=item.VideoID })">
                            @db.Videolar.Find(item.VideoID).Baslik
                        </a>
                    </td>
                    <td>@item.YorumTarihi</td>
                    <td>@db.Kullanicilar.Find(item.YazarID).KullaniciAdi</td>
                    <td><button class="btn btn-default" onclick="location.href='@Url.Action("Sil","Yorum",new { yorumId=item.ID })'">@Lang.Delete</button></td>
                </tr>
            }
        </table>
    </div>
}
<script src="~/scripts/user.js"></script>

