﻿@using WebProject.Resources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VideoVision</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @functions{
        bool tekmi(int sayi)
        {
            double x = Convert.ToDouble(sayi);
            if (x / 2 == sayi / 2) return false;
            return true;
        }

    }
    @if (Request.Cookies["remember"] != null)
    {
        var usr = Request.Cookies["remember"].Value;
        //usr = usr.Replace("?EufeqwDQx", string.Empty);
        byte[] deger = System.Text.UnicodeEncoding.BigEndianUnicode.GetBytes(usr);
        for (int i = 0; i < deger.Length; i++)
        {
            if (tekmi(i))
            {
                deger[i] -= 13;
            }
        }
        string cozulen = System.Text.UnicodeEncoding.BigEndianUnicode.GetString(deger);

        dbModel db = new dbModel();

        var users = new List<Kullanicilar>();
        users = db.Kullanicilar.ToList();
        bool gec = false;
        foreach (Kullanicilar item in users)
        {
            if (item.KullaniciAdi == cozulen)
            {
                Session["Giris"] = cozulen;
                gec = true; break;
            }
        }
        if (!gec)
        {
            Session.Remove("Giris");
            Response.Cookies["remember"].Expires = DateTime.Now.AddDays(-1);
        }
    }


</head>
<body style="background-color:transparent;">


    
    <nav class="navbar navbar-fixed-top" style="background-color:white;border-bottom:solid 0.5px;border-bottom-color:lightgray;padding-bottom:10px;display:block">
        <div class="row">
            <div class="col-lg-2">
                <a href='@Url.Action("Index", "Home")' title="VideoVision"><img src="~/Documents/sitelogo.png" width="125px" style="margin-left:42%;" /></a>
            </div>
           
            <div class="col-lg-7" style="margin:auto">
                <form class="search">
                    <input class="searchTerm" placeholder="@Lang.SearchText" required /><input class="searchButton" type="submit" />
                </form>
            </div>
            <div class="col-lg-1 " style="margin-top:15px;margin-left:5%;position:relative;max-width:90px ">
                
                    <div class="dropdown">
                        <button class="btn btn-default btn-city dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="~/requiredFiles/turkce-inglizce.png" width="25px" height="auto" />
                             @Lang.SelectLanguage
                            <span class="caret caret-search"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="@Url.Action("Change", "Language", new { langAbbr = "tr" }, null)"><img src="~/requiredFiles/Custom-Icon-Design-Flag-3-Turkey-Flag.ico" width="25px" height="auto" /> TR </a></li>
                            @*@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "TR" }, null)*@
                            <li role="separator" class="divider">
                            </li>
                            <li><a href="@Url.Action("Change", "Language", new { langAbbr = "" }, null)"><img src="~/requiredFiles/Custom-Icon-Design-All-Country-Flag-United-Kingdom-flag.ico" width="25px" height="auto" /> EN</a></li>
                        </ul>
                    
                </div>
            </div>
            


        
            <div class="col-lg-1" style="margin-left:10px;" >
                @if (Session["Giris"] == null)
        {
            <button style="margin-left:50%;margin-top:17px;text-align: center" onclick="location.href='@Url.Action("Login","Account")';return false;" class="btn btn-primary btn-default"><span class="fa fa-sign-in"></span> @Lang.SignIn</button>
}
else
{
        <style>
            .nav {
                left: 50%;
                margin-left: -50px;
                top: 0px;
                position: inherit;
            }

                .nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
                    background: #fff;
                }

            .dropdown {
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100px;
            }

            .dropdown-menu > li > a {
                color: #428bca;
            }

            .dropdown ul.dropdown-menu {
                border-radius: 4px;
                box-shadow:2px;
                margin-top: 20px;
                width: 200px;
            }

                .dropdown ul.dropdown-menu:before {
                    content: "";
                    border-bottom: 10px solid #fff;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    position: absolute;
                    top: -10px;
                    right: 16px;
                    z-index: 10;
                }

                .dropdown ul.dropdown-menu:after {
                    content: "";
                    border-bottom: 12px solid #ccc;
                    border-right: 12px solid transparent;
                    border-left: 12px solid transparent;
                    position: absolute;
                    top: -12px;
                    right: 14px;
                    z-index: 9;
                }
            
        </style>
var user = Session["Giris"];

string ilk = ""; string son = "";
if (user.ToString().Length > 15)
{
    for (int i = 0; i < user.ToString().Length + 1; i++)
    {
        if (i <= 15) { ilk += user.ToString()[i]; }
        else if (i == 16) { son += '\n'; }
        else { son += user.ToString()[i - 1]; }
    }
    user = ilk + son;
}
else
{
    ilk = user.ToString();
}
        <ul class="nav navbar-nav" style="margin-top:10px;margin-bottom:10px">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ilk<span class="glyphicon glyphicon-user pull-right"></span>@son</a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("UploadPage","Videos")">@Lang.Upload <span class="fa fa-upload pull-right"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("UserPage","Account")">@Lang.AccountSetting <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("SignOut","Account")">@Lang.SignOut <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                </ul>
            </li>
        </ul>
}
            </div>
        </div>
    </nav>
    <div class="container body-content" style="margin-top:5%;">
        @RenderBody()
        <footer class="navbar-static-bottom">
            <hr />
            <p style="text-align:center">&copy; @DateTime.Now.Year - VideoVision ® @Lang.AllRightsReserved.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
