﻿@model WebProject.Models.Arama
@{
    ViewBag.Title = "Search";
    dbModel db = new dbModel();

    var videos = new List<Videolar>();
    videos = db.Videolar.ToList();

    var users = new List<Kullanicilar>();
    users = db.Kullanicilar.ToList();

    var comms = new List<Yorumlar>();
    comms = db.Yorumlar.ToList();

    string aranan = Model.aranilan;
}
@functions{
    string fark(DateTime date)
    {

        DateTime now = DateTime.Now;
        TimeSpan diff = now - date;
        int days = diff.Days;
        int hours = diff.Hours;
        int minutes = diff.Minutes;
        if (days >= 7)
        {

            if (days >= 30)
            {
                if (days >= 365)
                {
                    return ((int)(days / 365)).ToString() + "yıl önce";
                }
                return ((int)(days / 30)).ToString() + "ay önce ";
            }
            return ((int)(days / 7)).ToString() + " hafta önce";
        }
        else if (days <= 0)
        {
            if (hours >= 1) return hours.ToString() + " saat önce";
            else return minutes.ToString() + " dakika önce";
        }
        return days.ToString() + " gün önce";
    }
}
<style>
    .baslik {
        font-weight: bold;
    }
</style>

<h4 style="margin-bottom:2%"><b>@aranan</b> ile ilgili arama sonuçları...<span id="toplam" style="color:lightslategray;font-size:15px"></span></h4>
<script type="text/javascript">
	document.getElementById("arama").value = "@aranan";
</script>
@if (Session["Giris"] != null && Request.UrlReferrer != null)
{
    if (Request.UrlReferrer.ToString().Length == 39)
    {
        if (Session["Giris"].ToString() == "admin" && Request.UrlReferrer.ToString().Substring(22, 17) == "/Account/UserPage")
        {
            ViewBag.Title = "Admin Arama";
            System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
            int bulunan = 0; int user = 0; int video = 0; int comm = 0;
            sw.Start();
            <h3>Kullanıcı Sonuçları</h3>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    @foreach (Kullanicilar item in users)
                    {
                        bool bulundu = false;
                        for (int i = 0; i < item.KullaniciAdi.Length; i++)
                        {
                            if (i + aranan.Length <= item.KullaniciAdi.Length)
                            {
                                string deger = item.KullaniciAdi.Substring(i, aranan.Length).ToLower(new System.Globalization.CultureInfo("tr-TR", false));
                                if (deger == aranan.ToLower(new System.Globalization.CultureInfo("tr-TR", false)) && !bulundu)
                                {
                                    <div class="row">
                                        <ul>
                                            <li><span class="baslik">ID :</span>@item.ID</li>
                                            <li><span class="baslik">Kullanıcı Adı :</span>@item.KullaniciAdi</li>
                                            <li><span class="baslik">E-mail Adresi :</span>@item.Email</li>
                                            <li><span class="baslik">Parola :</span>@item.Parola</li>
                                        </ul>
                                        @if (item.isAdmin || item.ID == -1)
                                        {
                                            <button style="margin-left:2%" class="btn btn-default" disabled>Kullanıcıyı Sil</button>
                                        }
                                        else
                                        {
                                            <button style="margin-left:2%" onclick="location.href='@Url.Action("Sil","Account",new { id=item.ID })'" class="btn btn-default">Kullanıcıyı Sil</button>
                                        }
                                    </div>
                                    <br />
                                    bulundu = true; bulunan++; user++;
                                }
                            }
                        }
                    }
                    @if (user == 0)
                    {
                        <span class="text-danger">Hiç Sonuç Bulunamadı</span>
                    }
                </div>
            </div>
            <h3>Video Sonuçları</h3>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    @foreach (Videolar item in videos)
                    {
                        bool bulundu = false;
                        for (int i = 0; i < item.Baslik.Length; i++)
                        {
                            if (i + aranan.Length <= item.Baslik.Length)
                            {
                                string deger = item.Baslik.Substring(i, aranan.Length).ToLower(new System.Globalization.CultureInfo("tr-TR", false));
                                if (deger == aranan.ToLower(new System.Globalization.CultureInfo("tr-TR", false)) && !bulundu)
                                {
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                                <img src="@item.VideoThumbnail" width="260" height="130" />
                                            </a>
                                        </div>
                                        <div style="margin-left:-73px" class="col-lg-8">
                                            <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                                <h4>@item.Baslik</h4>
                                            </a>
                                            <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span>
                                            <br />
                                            <span style="font-size:13px">
                                                @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                                • @fark(item.VideoTarihi)
                                            </span><br />
                                            <button style="margin-top:2%" class="btn btn-default" onclick="location.href='@Url.Action("Sil","Videos",new { videoId=item.ID})'">Videoyu Sil</button>
                                        </div>
                                    </div><br />
                                    bulunan++; bulundu = true; video++;
                                }
                            }
                        }
                    }
                    @if (video == 0)
                    {
                        <span class="text-danger">Hiç Sonuç Bulunamadı</span>
                    }
                </div>
            </div>
            <h3>Yorum Sonuçları</h3>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    @foreach (Yorumlar item in comms)
                    {
                        bool bulundu = false;
                        for (int i = 0; i < item.Yorum.Length; i++)
                        {
                            if (i + aranan.Length <= item.Yorum.Length)
                            {
                                string deger = item.Yorum.Substring(i, aranan.Length).ToLower(new System.Globalization.CultureInfo("tr-TR", false));
                                if (deger == aranan.ToLower(new System.Globalization.CultureInfo("tr-TR", false)) && !bulundu)
                                {
                                    <ul>
                                        <li><span class="baslik">ID :</span>@item.ID</li>
                                        <li><span class="baslik">Yazar :</span><span style="color:dodgerblue">@db.Kullanicilar.Find(item.YazarID).KullaniciAdi</span></li>
                                        <li><span class="baslik">Atıldığı Video :</span><a href="@Url.Action("Playing","Videos",new { videoId=item.VideoID })" style="color:black">@db.Videolar.Find(item.VideoID).Baslik</a></li>
                                        <li>
                                            <span class="baslik" style="text-decoration:underline;">Yorum</span> - @item.YorumTarihi.ToShortDateString()<br /><p>
                                                @item.Yorum
                                            </p>
                                        </li>
                                    </ul>
                                    <button style="margin-left:2%" class="btn btn-default" onclick="location.href='@Url.Action("Sil","Yorum",new { yorumId=item.ID })'">Yorumu Sil</button>
                                    <br /><br />
                                    bulunan++; bulundu = true; comm++;
                                }
                            }
                        }
                    }
                    @if (comm == 0)
                    {
                        <span class="text-danger">Hiç Sonuç Bulunamadı</span>
                    }
                </div>
            </div>
            sw.Stop();
            if (bulunan == 0)
            {
                <script type="text/javascript">
					document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString("F") saniyede";
                </script>
            }
            else
            {
                <script type="text/javascript">
				document.getElementById("toplam").innerHTML = "@bulunan.ToString("N").Replace(".00",string.Empty) adet sonuç bulundu ";
				document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString().Substring(0,5) saniyede";
                </script>
            }
        }
        else
        {
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    @{
                        System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
                        int bulunan = 0;
                        sw.Start();
                    }
                    @foreach (Videolar item in videos)
                    {
                        bool bulundu = false;
                        if (item.Baslik.ToLower() == Model.aranilan.ToLower() || aranan == "allvideos")
                        {
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                        <img src="@item.VideoThumbnail" width="260" height="130" />
                                    </a>
                                </div>
                                <div style="margin-left:-73px" class="col-lg-8">
                                    <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                        <h4>@item.Baslik</h4>
                                    </a>
                                    <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span><br />
                                    <span style="font-size:13px">
                                        @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                        • @fark(item.VideoTarihi)
                                    </span>
                                </div>
                            </div><br />
                            bulunan++; bulundu = true;
                        }
                        for (int i = 0; i < item.Baslik.Length; i++)
                        {
                            if (i + aranan.Length <= item.Baslik.Length)
                            {
                                string deger = item.Baslik.Substring(i, aranan.Length).ToLower(new System.Globalization.CultureInfo("tr-TR", false));
                                if (deger == aranan.ToLower(new System.Globalization.CultureInfo("tr-TR", false)) && !bulundu)
                                {
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                                <img src="@item.VideoThumbnail" width="260" height="130" />
                                            </a>
                                        </div>
                                        <div style="margin-left:-73px" class="col-lg-8">
                                            <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                                <h4>@item.Baslik</h4>
                                            </a>
                                            <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span><br />
                                            <span style="font-size:13px">
                                                @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                                • @fark(item.VideoTarihi)
                                            </span>
                                        </div>
                                    </div><br />
                                    bulunan++; bulundu = true;
                                }
                            }
                        }
                    }
                    @{
                        sw.Stop();
                    }
                </div>
                @if (bulunan == 0)
                {
                    <span style="margin-left:1.2%" class="text-danger">Hiç Sonuç Bulunamadı.</span>
                    <script type="text/javascript">
					document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString("F") saniyede";
                    </script>
                }
                else
                {
                    <script type="text/javascript">
			document.getElementById("toplam").innerHTML = "@bulunan.ToString("N").Replace(".00",string.Empty) adet sonuç bulundu ";
			document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString().Substring(0,5) saniyede";
                    </script>
                }
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                @{
                    System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
                    int bulunan = 0;
                    sw.Start();
                }
                @foreach (Videolar item in videos)
                {
                    bool bulundu = false;
                    if (item.Baslik.ToLower() == Model.aranilan.ToLower() || aranan == "allvideos")
                    {
                        <div class="row">
                            <div class="col-lg-4">
                                <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                    <img src="@item.VideoThumbnail" width="260" height="130" />
                                </a>
                            </div>
                            <div style="margin-left:-73px" class="col-lg-8">
                                <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                    <h4>@item.Baslik</h4>
                                </a>
                                <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span><br />
                                <span style="font-size:13px">
                                    @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                    • @fark(item.VideoTarihi)
                                </span>
                            </div>
                        </div><br />
                        bulunan++; bulundu = true;
                    }
                    for (int i = 0; i < item.Baslik.Length; i++)
                    {
                        if (i + aranan.Length <= item.Baslik.Length)
                        {
                            string deger = item.Baslik.Substring(i, aranan.Length).ToLower(new System.Globalization.CultureInfo("tr-TR", false));
                            if (deger == aranan.ToLower(new System.Globalization.CultureInfo("tr-TR", false)) && !bulundu)
                            {
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                            <img src="@item.VideoThumbnail" width="260" height="130" />
                                        </a>
                                    </div>
                                    <div style="margin-left:-73px" class="col-lg-8">
                                        <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                            <h4>@item.Baslik</h4>
                                        </a>
                                        <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span><br />
                                        <span style="font-size:13px">
                                            @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                            • @fark(item.VideoTarihi)
                                        </span>
                                    </div>
                                </div><br />
                                bulunan++; bulundu = true;
                            }
                        }
                    }
                }
                @{
                    sw.Stop();
                }
            </div>
            @if (bulunan == 0)
            {
                <span style="margin-left:1.2%" class="text-danger">Hiç Sonuç Bulunamadı.</span>
                <script type="text/javascript">
					document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString("F") saniyede";
                </script>
            }
            else
            {
                <script type="text/javascript">
			document.getElementById("toplam").innerHTML = "@bulunan.ToString("N").Replace(".00",string.Empty) adet sonuç bulundu ";
			document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString().Substring(0,5) saniyede";
                </script>
            }
        </div>
    }

}
else
{
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            @{
                System.Diagnostics.Stopwatch sw = new System.Diagnostics.Stopwatch();
                int bulunan = 0;
                sw.Start();
            }
            @foreach (Videolar item in videos)
            {
                bool bulundu = false;
                if (Model.aranilan == null)
                {
                    break;
                }
                if (item.Baslik.ToLower() == Model.aranilan.ToLower() || aranan == "allvideos")
                {
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                <img src="@item.VideoThumbnail" width="260" height="130" />
                            </a>
                        </div>
                        <div style="margin-left:-73px" class="col-lg-8">
                            <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                <h4>@item.Baslik</h4>
                            </a>
                            <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span><br />
                            <span style="font-size:13px">
                                @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                • @fark(item.VideoTarihi)
                            </span>
                        </div>
                    </div><br />
                    bulunan++; bulundu = true;
                }
                for (int i = 0; i < item.Baslik.Length; i++)
                {
                    if (i + aranan.Length <= item.Baslik.Length)
                    {
                        string deger = item.Baslik.Substring(i, aranan.Length).ToLower(new System.Globalization.CultureInfo("tr-TR", false));
                        if (deger == aranan.ToLower(new System.Globalization.CultureInfo("tr-TR", false)) && !bulundu)
                        {
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" title="@item.Baslik">
                                        <img src="@item.VideoThumbnail" width="260" height="130" />
                                    </a>
                                </div>
                                <div style="margin-left:-73px" class="col-lg-8">
                                    <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" style="color:black" title="@item.Baslik">
                                        <h4>@item.Baslik</h4>
                                    </a>
                                    <span style="color:dodgerblue">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</span><br />
                                    <span style="font-size:13px">
                                        @item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") görüntülenme
                                        • @fark(item.VideoTarihi)
                                    </span>
                                </div>
                            </div><br />
                            bulunan++; bulundu = true;
                        }
                    }
                }
            }
            @{
                sw.Stop();
            }
        </div>
        @if (bulunan == 0)
        {
            <span style="margin-left:1.2%" class="text-danger">Hiç Sonuç Bulunamadı.</span>
            <script type="text/javascript">
		document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString("F") saniyede";
            </script>
        }
        else
        {
            <script type="text/javascript">
			document.getElementById("toplam").innerHTML = "@bulunan.ToString("N").Replace(".00",string.Empty) adet sonuç bulundu ";
			document.getElementById("toplam").innerHTML += " • @sw.Elapsed.TotalSeconds.ToString().Substring(0,5) saniyede";
            </script>
        }
    </div>
}