﻿/*============== pagination v1 =============**/
.pagination-wrap {
    margin: auto;
    text-align: center;
}

.pagination-v1 > li > a,
.pagination-v1 > li > span {
    background-color: #ff2a2a;
    border: 1px solid #ea5745;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 1.42857;
    margin-right: 5px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
}

    .pagination-v1 > li > a.active,
    .pagination-v1 > li > a:hover,
    .pagination-v1 > li > span:hover,
    .pagination-v1 > li > a:focus,
    .pagination-v1 > li > span:focus {
        background-color: #ee8477 !important;
        border-color: #ea5745;
        color: #fff;
    }
