﻿.contact-form {
    margin-top: 15px;
}

    .contact-form .textarea {
        min-height: 220px;
        resize: none;
    }

.form-control {
    box-shadow: none;
    border-color: #eee;
    background-color:lavender;
    
    max-width:100%;
}

    .form-control:focus {
        box-shadow:3px;
        border-color: #00b09c;
        cursor:text;
    }

.form-control-feedback {
    line-height: 50px;
}

.main-btn {
    background: #00b09c;
    border-color: #00b09c;
    color: #fff;
    margin-bottom:12px;
    margin-top:-5px;
}

    .main-btn:hover {
        background: #00a491;
        color: #fff;
    }

.form-control-feedback {
    line-height: 20px;
    top: 0px;
}
