﻿body {
    background: #fff;
    /*font-size: 100%;*/
    font-family: 'Open Sans', sans-serif;
}

.recommended-grids {
    margin: 5em 0;
}

.recommended-info h3 {
    font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}

.recommended-info p {
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
    line-height: 1.8em;
}

.recommended-grid-info a.title {
    font-size: 14px;
    line-height: 1.3em;
}

.recommended-grid-info h3 {
    margin: 0;
    overflow: hidden;
    height: 54px;
}
.recommended-grid {
    float: left;
    width: 25%;
    margin-bottom: 2em;
}

.recommended-grid-info h5 {
    margin: 0;
    overflow: hidden;
    height: 34px;
}

.resent-grid-info a.title-info {
    font-size: 15px;
}

.recommended-grid-info p.author {
    font-size: 13px;
    margin: 1em 0 0 0;
}
.resent-grid {
    padding-left: 0.1em;
}

.resent-grid-info ul {
    padding: 0;
    margin: 0;
}

    .resent-grid-info ul li {
        display: inline-block;
    }

.recommended-grid-infoo ul {
    padding: 0 !important;
    margin: 0 !important;
}

.recommended-grid-info ul li {
    display: inline-block !important;
    width: 49%;
}

    .recommended-grid-info ul li.right-list {
        text-align: right;
    }

.resent-grid-info p.author-info {
    font-size: 13px;
    font-weight: 600;
}

.resent-grid-info p.views {
    font-size: 13px;
}

.resent-grid-info p.views-info {
    font-size: 12px;
}

.slid-bottom-grids {
    margin: 2em 0 0 0;
}

.slid-bottom-grid {
    float: left;
    width: 35%;
}

.slid-bottom-right {
    float: left;
    width: 65%;
    text-align: right;
}

.slid-bottom-grid p {
    margin: 0 !important;
}

.recommended-grid-info {
    box-shadow: 0px 0 4px #C1C1C1 !important;
    background: none;
}
.time {
    top: 91% !important;
}
.small-time {
    top: 85% !important;
}
.clck {
    right: 11%;
}
.small-clck {
    right: 14% !important;
}

.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
}
.glyphicon-time:before {
    content: "\e023";
    color: #fff;
    font-size: 1em;
}

.caption {
    position: absolute;
    top: 92%;
    left: 13%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}
.sureYazisi {
    float: right;
    margin-left: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: white;
}
.thumbnail {
    position: relative;
    display: inline-block;
}
.sagYaslama{
    text-align:right;
}