
.search {
    margin:15px 2%;
  max-width: 100%;
  position: relative;
}
    .search:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-family: 'FontAwesome';
        content: '\f002';
        background: #f91f1f;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-smooth: always;
    }

.searchTerm {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    border: 5px solid #f91f1f;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}
