﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
* {
    font-family: arial;
}

body {
    background-color: #333;
}

.languagepicker {
    background-color: #FFF;
    display: inline-block;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0 50px 10px 0;
    vertical-align: top;
    float: left;
}

    .languagepicker:hover {
        /* don't forget the 1px border */
        height: 81px;
    }

    .languagepicker a {
        color: #000;
        text-decoration: none;
    }

    .languagepicker li {
        display: block;
        padding: 0px 20px;
        line-height: 40px;
        border-top: 1px solid #EEE;
    }

        .languagepicker li:hover {
            background-color: #EEE;
        }

    .languagepicker a:first-child li {
        border: none;
        background: #FFF !important;
    }

    .languagepicker li img {
        margin-right: 5px;
    }

.roundborders {
    border-radius: 5px;
}

.large:hover {
    /* 
	don't forget the 1px border!
	The first language is 40px heigh, 
	the others are 41px
	*/
    height: 245px;
}