﻿@using WebProject.Resources;
@model IEnumerable<WebProject.Videolar> 
@{ 
	ViewBag.Title = "Ana Sayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";

	dbModel db = new dbModel();
}
@functions{
	string fark(DateTime date) {

		DateTime now = DateTime.Now;
		TimeSpan diff = now - date;
		int days = diff.Days;
		int hours = diff.Hours;    
		int minutes = diff.Minutes;
		if (days >= 7)
		{

			if (days >= 30)
			{
				if (days >= 365)
				{
					return ((int)(days / 365)).ToString() +" "+ Lang.YearsAgo;
				}
				return ((int)(days / 30)).ToString() +" "+ Lang.MonthsAgo;
			}
			return ((int)(days / 7)).ToString() +" "+ Lang.DaysAgo;
		}
		else if (days <= 0)
		{
			if (hours >= 1) return hours.ToString() +" "+ Lang.HoursAgo;
			else return minutes.ToString() +" "+ Lang.MinutesAgo;
		}
		return days.ToString()+" "+Lang.DaysAgo;
	}
}
<head>
    <link href="~/Content/HomePage.css" rel="stylesheet" />
</head>




<div class="recommended container">
    <div class="row">
    <div>
        <h3>@Lang.IndexHeaderText</h3>
    </div>
     <div class="recommended-grids">


            @foreach (Videolar item in Model)
            {


                <div class="col-md-4 col-lg-4  ">
                    <div class="thumbnail">
                        <a href="@Url.Action("Playing","Videos",new { videoId=item.ID })">
                           @if (item.VideoThumbnail != null)
						   {
							<img src="@item.VideoThumbnail" style="width:350px;height:200px;display:block;" />
						   }
						   else
						   {
							<img src="~/requiredFiles/capturedFrames/default.png" style="width:350px;height:200px;display:block;" />
						   }
                        </a>
                        <div class="caption" >
								@if (item.VideoSuresi.Hours <= 0)
								{
									<p class="sureYazisi" style="background-color:rgba(128, 128, 128,0.7);margin-left:-38px;">
										@item.VideoSuresi.ToString().Substring(3, 5)
									</p>
								}
								else
								{	<p class="sureYazisi" style="background-color:rgba(128, 128, 128,0.7);margin-left:-13px;">
										@item.VideoSuresi.ToString().Substring(0, 8)
									</p>
								}
									
                        </div>

                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid" style="margin-top:-13px;border-style:none">
                        <h5><a href="@Url.Action("Playing","Videos",new { videoId=item.ID })" class="title">@item.Baslik</a></h5>

                       <div class="row">
						   <div class="col-lg-6">
		 	<p class="author author-info">@db.Kullanicilar.Find(item.VideoYukleyen).KullaniciAdi</p>
						   </div>
						   <div class="col-lg-6">
		 	<p class="views views-info sagYaslama">@item.IzlenmeSayisi.ToString("N").Replace(".00", string.Empty).Replace(",", ".") views</p>
		 <p class="views views-info sagYaslama">@fark(item.VideoTarihi)</p>

						   </div>
					   </div>                      

                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>

    

    </div>
</div>

@*


	<div class="pagination-wrap">
		<ul class="pagination pagination-v1">
			<li><a href="#">Previous</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">----</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>*@