﻿@using WebProject.Resources;
@model WebProject.Videolar
@{
		ViewBag.Title = "Playing";
		Layout = "~/Views/Shared/_Layout.cshtml";

		dbModel db = new dbModel();
		var users = new List<Kullanicilar>();
		users = db.Kullanicilar.ToList();

		var videos = new List<Videolar>();
		videos = db.Videolar.ToList();

		var comments = new List<Yorumlar>();
		comments = db.Yorumlar.ToList();
		var yorums = new Yorumlar();








	}



@functions{

			string fark(DateTime date)
			{ 
			DateTime now = DateTime.Now;
			TimeSpan diff = now - date;
			int days = diff.Days;
			int hours = diff.Hours;
			int minutes = diff.Minutes;
		if (days >= 7)
		{

			if (days >= 30)
			{
				if (days >= 365)
				{
					return ((int)(days / 365)).ToString() + " "+Lang.YearsAgo;
				}
				return ((int)(days / 30)).ToString() +" "+ Lang.MonthsAgo;
			}
			return ((int)(days / 7)).ToString() +" "+ Lang.Weekago;
		}
		else if (days <= 0)
		{
			if (hours >= 1) return hours.ToString() +" "+ Lang.HoursAgo;
			else return minutes.ToString() + " "+ Lang.MinutesAgo;
		}
		return days.ToString() +" "+ Lang.DaysAgo;
	}

	int counter = 0;
	Random rnd = new Random();

	int generateNum(int sinir)
	{
		int rndSayi = rnd.Next(1, sinir);
		return rndSayi;
	}
}

<head>
    <link href="~/Content/playerStyle.css" rel="stylesheet" />
    <link href="~/Content/commentStyle.css" rel="stylesheet" />

    <link href="~/Content/commentWrite.css" rel="stylesheet" />



</head>

<h2>Playing</h2>

<div class="container-fluid">

    <div class="col-lg-9">
        @foreach (var item in videos)
            {
                if (item.ID == Model.ID)
                {
                <video poster="@item.VideoThumbnail" controls>
                    <!-- Video files -->
                    <source src="@item.VideoYolu">




                </video>
                foreach (var ss in users)
                {
                    if (ss.ID == item.VideoYukleyen)
                    {
                        <h1>@item.Baslik</h1><br /><span style="color:dodgerblue;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:large">@ss.KullaniciAdi </span><span style="float:right;font-size:medium;"><strong style="color:crimson"> @item.IzlenmeSayisi.ToString("N").Replace(".00",string.Empty).Replace(",",".")</strong> @Lang.Views </span>
                        <br /><span style="float:right;font-size:medium;"><strong style="background-color:orange"> @fark(item.VideoTarihi)</strong></span>
                    }
                }

            }
            counter++;
        }

        <br /><br />

        @using (Html.BeginForm())
        {
        <div>
            @Html.AntiForgeryToken()
            <form role="form" id="form" class="contact-form"  method="get">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div>
                    <div class="form-group">
                       <input type="text" class="form-control" name="yorum" placeholder="@Lang.WriteCommnet " required/>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn main-btn pull-right">@Lang.Submit</button>
                </div>
                </form>
            </div>
        }
	    <br /><br />

        <div style="margin-top:13px">
            <section class="comments">
				@{ 
					int yorum = 0;
				}
                @foreach (var iVideo in videos)
				{
					if (iVideo.ID == Model.ID)
					{
						foreach (var item in comments)
						{
							if (item.VideoID == iVideo.ID)
							{
								<article class="comment">
									<a class="comment-img" href="#non">
										<img src="~/requiredFiles/Icons-Land-Vista-People-Person-Male-Light.ico" alt="" width="50" height="50" />
									</a>
									<div class="comment-body">
										<div class="text">
											<p>@item.Yorum
											
											</p>
											@if (Session["Giris"].ToString() == db.Kullanicilar.Find(item.YazarID).KullaniciAdi)
											{
												<button style="float:right" class="fa fa-times btn btn-sm btn-danger" title="Yorumu Sil" onclick="location.href='@Url.Action("NormalSil", "Yorum", new { yorumId = item.ID , videoId=item.VideoID })'"></button>
											}
										</div>
										<p class="attribution">
											by <span style="color:dodgerblue;" href="#non">@item.Kullanicilar.KullaniciAdi</span> @item.YorumTarihi
										</p>
									</div>
								</article>
								yorum++;
							}
						}
					}
				}
				@if (yorum == 0)
				{
					
					<span class="text-danger" style="padding-left:34%">@Lang.NoComment</span>
				}
            </section>
        </div>
        </div>
        <div class="col-lg-3">
			@{
				int sayi = 0;
				videos = db.Videolar.OrderByDescending(x => x.VideoTarihi).Take(5).ToList();
				foreach (Videolar item in videos)
				{
					if (item.ID != Model.ID && sayi < 4)
					{
						<div style="margin-bottom:10px;">
							<a href="@Url.Action("Playing","Videos",new { videoId=item.ID })">
								<img style="width: 100%;height: auto;" src="@item.VideoThumbnail" alt="@item.ID" />
							</a>
							@foreach (var ss in users)
							{
							if (ss.ID == item.VideoYukleyen)
							{
									<a title="@item.Baslik" style="color:black" href="@Url.Action("Playing","Videos",new { videoId=item.ID })">
										<strong style="font-size:medium">@item.Baslik</strong>
									</a><br />
									<span style="color:dodgerblue;font-size:medium">@ss.KullaniciAdi</span><br /><p style="float:right ;font-size:small">@item.IzlenmeSayisi @Lang.Views</p><p style="font-size:small;float:left;">@fark(item.VideoTarihi)</p>
								}
						}
						</div>
						sayi++;
					}
				}
			}
        </div>
    
</div>
<br /><br /><br /><br /><br />
























@Scripts.Render("~/bundles/videoPlayer")

<script src="~/scripts/commentsWrite.js"></script>

























































@*<head>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">




    </head>





            <section>
                <video poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg?v1" controls >
                    <!-- Video files -->
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.mp4" type="video/mp4">
                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.webm" type="video/webm">




                </video>


            </section>

        <!-- Plyr core script -->
        <script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>

        <!-- Docs script -->
        <script src="https://cdn.plyr.io/2.0.18/demo.js"></script>

        <!-- Rangetouch to fix <input type="range"> on touch devices (see https://rangetouch.com) -->
        <script src="https://cdn.rangetouch.com/1.0.1/rangetouch.js" async></script>*@




