﻿@using WebProject.Resources;
@model WebProject.Videolar
@{
	ViewBag.Title = "UploadPage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>

<h2>@Lang.UplaodPage</h2>

<style>

	.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
</style>


@using (Html.BeginForm("UploadPage", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div>
		<div class="container well">
			<div class="form-group">
				<label for="pwd">@Lang.Title</label>
				<input type="text" name="baslik" class="form-control" style="max-width:100%" />
			</div>
			<div class="form-group">
				<label for="pwd">@Lang.UploadVideo</label>
				<input type="file" name="dosya" class="form-control btn-success" style="max-width:100%" />
			</div>
			<div class="form-group">
				<label>@Lang.UplaodImage</label>
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							@Lang.Browse <input type="file" name="resim" id="imgInp">
						</span>
					</span>
					<input type="text" class="form-control" readonly>
				</div>
				<img id='img-upload' />
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal" onclick="startUpload()">@Lang.BeginUpload</button>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">@Lang.UploadInitiated</h4>
					</div>
					<div class="modal-body">
						<p>@Lang.Uploading</p>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70"
								 aria-valuemin="0" aria-valuemax="100" style="width:70%">
								<span class="sr-only">70% @Lang.Completed</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info btnprogress" onclick="clickProgress()">
							@Lang.Continue
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
}

@Scripts.Render("~/bundles/jquery")
<script src="~/scripts/resim.js"></script>
<script src="~/scripts/videoYukleme.js"></script>
